<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/loggedInHeader'); %>
</header>

<main>
    <%- include('../partials/edit.ejs'); %>
</main>

</body>
</html>
